
logs
.idea

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Climate data
station-reconstruct/slurm_logs
station-reconstruct
station-reconstruct/station_data_as_dat
station-reconstruct/station_data_as_nc