
logs
.idea

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Climate data
station_reconstruct/slurm_logs
station_reconstruct/station_data_as_dat
station_reconstruct/station_data_as_nc

